
<nav class="navbar fixed-top navbar-expand-lg  bg-primary  ">
    <div class="container ">
        <a class="navbar-brand text-light" href="#">LOGO</a>
        <button class="navbar-toggler   bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon   bg-light"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02 ">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0  ">
            <li class="nav-item ">
            <a class="nav-link active text-light" aria-current="page" href="#">HOME</a>
            </li>
            <li class="nav-item">
            <a class="nav-link active text-light" aria-current="page" href="#">ABOUT-US</a>
            </li>
            <li class="nav-item">
            <a class="nav-link active text-light" aria-current="page" href="#">SERVICES</a>
            </li>
            <li class="nav-item">
            <a class="nav-link active text-light" aria-current="page" href="#">TESTIMONIAL</a>
            </li>
            <li class="nav-item">
            <a class="nav-link active text-light" aria-current="page" href="#">CONTACT-US</a>
            </li>
            </ul>
        </div>
    </div>
</nav>
